:root {
  --main-white: #f0f0f0;
  --main-blue: #45567d;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  font-family: 'Raleway', sans-serif;
  font-size:1.8rem ;
  font-weight: 400;
  color: white;
}
#navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #652545;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: solid white;
}

.navlist {
  display: flex;
  list-style-type:none;
}

.navlist a {
  display: block;
  color: white;
  padding: 1rem;
}

.navlist a:hover {
  background: black;
}

a {
  text-decoration: none;
}

#welcome-section {
  height: 100vh;
  background-color: #CCA49D;
  display: flex;
  justify-content: center;
  align-items: center;
}
#welcome-section h1 {
  font-size: 5rem;
}

#projects{
  background-color: #993A29;
}
#projects figcaption{
  color: white;
}



/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 60%;
  }
}

/* 640px / 16px = 40em */
@media (max-width: 40em) {
  html {
    font-size: 50%;
    color: red;
  }
}