* {
  font-family: "Titillium Web", sans-serif;
  box-sizing: border-box;
  background-color: black;
  margin: 0;
  padding: 0;
}
h1 {
  color: white;
  margin: 2rem 0rem 1rem 2rem;
  font-size: x-large;
}
.mainContainer {
  display: flex;
}
.nav {
  min-width: 20vw;
  border: solid #e89e10;
  margin: 1rem;
}
.navList {
  margin: 1rem;
  list-style-type: none;
  font-size: large;
}
a {
  text-decoration: none;
  color: white;
}
li:hover > a {
  background-color: #e89e10;
  color: black;
}
li:hover {
  background-color: #e89e10;
  color: black;
  cursor: pointer;
}
.shipDiv {
  position: fixed;
  top: 25%;
  left: 40%;
}
.shipviewer img {
  max-width: 30vw;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}
.modal p {
  background-color: white;
  color: #e89e10;
  text-align: center;
  padding: 1rem;
}
/* Modal Content */
.modal-content {
  background-color: white;
  margin: auto;
  padding: 1rem;
  width: 30%;
  border-radius: 1rem;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background-color: white;
  position: relative;
  top: -1rem;
}
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
