*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #EBE0CE;
}
header {
   height: 10rem;
   background-color:#EBE0CE;
}
header h1{
    text-align: center;
    color: #72260F;
}
main{
    background-color:  #191C2F;
}
main div{
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img{
    max-width: 8rem;
}
figure{
    padding: 0.5rem;
}
figcaption{
    text-align: center;
    font-size: small;
    max-width: 8rem ;
}
footer{
    background-color: #72260F;
    text-align: center;
    padding: 2rem;
}

